# macOS / Windows
.DS_Store
.thumbs.db

# Node
node_modules/

# Quasar core
.quasar/
dist/
dist-spa/
dist-ssr/
dist-pwa/
dist-capacitor/
dist-electron/
dist-bex/

# Quasar temporary compiled config
/quasar.config.*.temporary.compiled*

# Cordova
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor
/src-capacitor/www
/src-capacitor/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment files
.env
.env.*
.env.local*
